html,
body {
    height: 100%;
}

body {
    @extend %rubik-400;
    color: $dark;
    font-size: 20px;
    line-height: 150%;
    background-color: $silver-100;
}

main {
    padding-top: 159px;
    flex-grow: 1;
    @include r($m) {
        padding-top: 72px;
    }
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.position-section {
    display: block;
    margin-bottom: 120px;

    @include r($l) {
        margin-bottom: 60px;
    }

    @include r($m) {
        margin-bottom: 40px;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.lock {
    overflow: hidden
}