<section class="app-mobile position-section">
    <div class="container">
        <div class="app-mobile__inner" style="background-image: url('/images/app/app.jpg');">
            <div class="app-mobile__content">
                <h2 class="section-title app-mobile__ttile">Скачайте мобильное приложение</h2>
                <p>Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в
                    любом удобном месте. </p>
                <ul class="app-mobile__list">
                    <li class="app-mobile__item">
                        <a class="app-mobile__link" href="#">
                            <img src="/images/app/aple-app.svg" alt="скачать приложение с эпл стор"
                                class="app-mobile__img">
                        </a>
                    </li>
                    <li class="app-mobile__item">
                        <a class="app-mobile__link" href="#">
                            <img src="/images/app/google-app.svg" alt="скачать приложение с гугл плэй"
                                class="app-mobile__img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>