<section class="best position-section">
    <div class="container">
        <h2 class="section-title best-title">Лучшие рестораны</h2>
        <div class="best__content">
            <article class="restaurant">
                <a class="restaurant__img-link" href="#">
                    <img class="restaurant__img" src="/images/best/blaze.jpg" alt="фото лучших ресторанов">
                </a>
                <h3>Blaze Pizza</h3>
                <div class="restaurant__descr">
                    <span class="restaurant__descr-time">
                        11:00 - 22:00
                    </span>
                    <a href="#" class="restaurant__link">
                        <div class="sr-only">перейти в магазин</div>
                    </a>
                </div>
            </article>
            <article class="restaurant">
                <a class="restaurant__img-link" href="#">
                    <img class="restaurant__img" src="/images/best/pizza-rancho.jpg"
                        alt="фото лучших ресторанов">
                </a>
                <h3>Pizza Runcho</h3>
                <div class="restaurant__descr">
                    <span class="restaurant__descr-time">
                        12:00 - 21:00
                    </span>
                    <a href="#" class="restaurant__link">
                        <div class="sr-only">перейти в магазин</div>
                    </a>
                </div>
            </article>
            <article class="restaurant">
                <a class="restaurant__img-link" href="#">
                    <img class="restaurant__img" src="/images/best/pizza-hut.jpg" alt="фото лучших ресторанов">
                </a>
                <h3>Pizza Hut</h3>
                <div class="restaurant__descr">
                    <span class="restaurant__descr-time">
                        11:00 - 22:00
                    </span>
                    <a href="#" class="restaurant__link">
                        <div class="sr-only">перейти в магазин</div>
                    </a>
                </div>
            </article>
            <article class="restaurant">
                <a class="restaurant__img-link" href="#">
                    <img class="restaurant__img" src="/images/best/mac.jpg" alt="фото лучших ресторанов">
                </a>
                <h3>McDonald`s</h3>
                <div class="restaurant__descr">
                    <span class="restaurant__descr-time">
                        06:00 - 23:00
                    </span>
                    <a href="#" class="restaurant__link">
                        <div class="sr-only">перейти в магазин</div>
                    </a>
                </div>
            </article>
            <article class="restaurant">
                <a class="restaurant__img-link" href="#">
                    <img class="restaurant__img" src="/images/best/kfc.jpg" alt="фото лучших ресторанов">
                </a>
                <h3>KFC</h3>
                <div class="restaurant__descr">
                    <span class="restaurant__descr-time">
                        06:00 - 23:30
                    </span>
                    <a href="#" class="restaurant__link">
                        <div class="sr-only">перейти в магазин</div>
                    </a>
                </div>
            </article>
            <article class="restaurant">
                <a class="restaurant__img-link" href="#">
                    <img class="restaurant__img" src="/images/best/star.jpg" alt="фото лучших ресторанов">
                </a>
                <h3>Star Burgers</h3>
                <div class="restaurant__descr">
                    <span class="restaurant__descr-time">
                        09:00 - 21:00
                    </span>
                    <a href="#" class="restaurant__link">
                        <div class="sr-only">перейти в магазин</div>
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>