<section class="shares position-section">
    <div class="container">
        <h2 class="section-title shares__title">Акции и скидки</h2>
        <div class="shares__box">
            <div class="shares__content">
                <a class="shares__link" href="#">
                    <img src="/images/shares/shares1.jpg" alt="фото товара с акцией">
                    <p>Скидка 50% на вторую пиццу</p>
                </a>
            </div>
            <div class="shares__content">
                <a class="shares__link" href="#">
                    <img src="/images/shares/shares2.jpg" alt="фото товара с акцией">
                    <p>Картошечка из KFC даром при заказе бургера</p>
                </a>
            </div>
            <div class="shares__content">
                <a class="shares__link" href="#">
                    <img src="/images/shares/shares3.jpg" alt="фото товара с акцией">
                    <p>Чёрные бургеры на чёрный день </p>
                </a>
            </div>
        </div>
    </div>
</section>