<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__top-left">
                <a href="#" class="logo">
                    <img class="logo__img" width="200" height="39" src="/images/logo.svg" alt="логотип компании">
                </a>
                <form class="footer__form" name="footer-form">
                    <label class="footer__label" for="footer__input">введите Ваш эмейл</label>
                    <input class="footer__input" type="email" name="footer__input" id="footer__input"
                        required="required" placeholder="Ваш email">
                    <button class="footer__button" type="submit">
                        Подписаться
                    </button>
                </form>
            </div>
            <div class="footer__top-midle">
                <ul class="footer__top-list">
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Как это работает</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">О нас</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Скачать приложение</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Продукты</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Новости</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Блог</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Блюда</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Партнеры</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Что нового?</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Меню</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">ЧаВо</a>
                    </li>
                    <li class="footer__top-item">
                        <a class="footer__top-link" href="#">Карта сайта</a>
                    </li>
                </ul>
            </div>
            <div class="contacts">
                <ul class="contacts__list">
                    <li class="contacts__list-item">
                        <a class="contacts__list-link" href="#">
                            <div class="sr-only">адрес компании</div>
                            ул. Т.Г.Шевченко, 1
                        </a>
                    </li>
                    <li class="contacts__list-item">
                        <a class="contacts__list-link" href="tel:380501112233">
                            <div class="sr-only">телефон для связи</div>
                            380501112233
                        </a>
                    </li>
                    <li class="contacts__list-item">
                        <a class="contacts__list-link" href="mailto:support@sfood.com">
                            <div class="sr-only">электронная почта сайта</div>
                            support@sfood.com
                        </a>
                    </li>
                </ul>
                <ul class="contacts__social-list">
                    <li class="contacts__social-item">
                        <a class="contacts__social-link contacts__social-link--facebook" href="#" target="_blank">
                            <div class="sr-only">фейсбук компании</div>
                            <svg class="contacts__social-icon">
                                <use xlink:href="images/sprite.svg#ic-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="contacts__social-item">
                        <a class="contacts__social-link contacts__social-link--twitter" href="#" target="_blank">
                            <div class="sr-only">твиттер компании</div>
                            <svg class="contacts__social-icon">
                                <use xlink:href="images/sprite.svg#ic-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="contacts__social-item">
                        <a class="contacts__social-link contacts__social-link--insta" href="#" target="_blank">
                            <div class="sr-only">инстаграм компании</div>
                            <svg class="contacts__social-icon">
                                <use xlink:href="images/sprite.svg#ic-instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <a href="#" class="footer__bottom-link">
                <div class="sr-only">авторские права</div>
                © 2022 Simple Food
            </a>
        </div>
    </div>
</footer>