<div class="navigation navigation--product">
    <div class="container">
        <h1 class="sr-only">Simple food - каталог товаров и акций по доставке еды в Вашем городе</h1>
        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link" href="index.html">Главная</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="catalog.html">Каталог товаров</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link">Чизбургер с листьями салата</a>
            </li>
        </ul>
    </div>
</div>