<section class="offers">
    <div class="container">
        <div class="offers__inner">
            <h2 class="section-title offers__title">Вас может заинтересовать</h2>
            <div class="offers__goods">
                <div class="goods">
                    <article class="good">
                        <a class="good__link" href="#">
                            <img src="/images/popular/chiz1.jpg" width="140" height="140" alt="фото товара"
                                class="good__img">
                        </a>
                        <h3>Чизбургер с листьями салата</h3>
                        <div class="good__price">
                            <span>160</span> <span>грн.</span>
                        </div>
                        <button class="good__button-curt">В корзину</button>
                    </article>
                </div>
                <div class="goods">
                    <article class="good">
                        <a class="good__link" href="#">
                            <img src="/images/popular/chiz2.jpg" width="140" height="140" alt="фото товара"
                                class="good__img">
                        </a>
                        <h3>Бифбургер</h3>
                        <div class="good__price">
                            <span>190</span> <span>грн.</span>
                        </div>
                        <button class="good__button-curt">В корзину</button>
                    </article>
                </div>
                <div class="goods">
                    <article class="good">
                        <a class="good__link" href="#">
                            <img src="/images/popular/chiz3.jpg" width="140" height="140" alt="фото товара"
                                class="good__img">
                        </a>
                        <h3>Королевский чизбургер</h3>
                        <div class="good__price">
                            <span>260</span> <span>грн.</span>
                        </div>
                        <button class="good__button-curt">В корзину</button>
                    </article>
                </div>
                <div class="goods">
                    <article class="good">
                        <a class="good__link" href="#">
                            <img src="/images/popular/chiz4.jpg" width="140" height="140" alt="фото товара"
                                class="good__img">
                        </a>
                        <h3>Черный гамбургер</h3>
                        <div class="good__price">
                            <span>199</span> <span>грн.</span>
                        </div>
                        <button class="good__button-curt">В корзину</button>
                    </article>
                </div>
                <div class="goods">
                    <article class="good">
                        <a class="good__link" href="#">
                            <img src="/images/popular/chiz4.jpg" width="140" height="140" alt="фото товара"
                                class="good__img">
                        </a>
                        <h3>Черный гамбургер</h3>
                        <div class="good__price">
                            <span>199</span> <span>грн.</span>
                        </div>
                        <button class="good__button-curt">В корзину</button>
                    </article>
                </div>
                <div class="goods">
                    <article class="good">
                        <a class="good__link" href="#">
                            <img src="/images/popular/chiz4.jpg" width="140" height="140" alt="фото товара"
                                class="good__img">
                        </a>
                        <h3>Черный гамбургер</h3>
                        <div class="good__price">
                            <span>199</span> <span>грн.</span>
                        </div>
                        <button class="good__button-curt">В корзину</button>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>