
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href="#" class="logo">
                    <img class="logo__img" width="200" height="39" src="/images/logo.svg" alt="логотип компании">
                </a>
                <div class="nav-wrapper">
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__link" href="index.html">Главная</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="catalog.html">Блюда</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">Контакты</a>
                            </li>
                        </ul>
                        <div class="contacts contacts--header">
                            <ul class="contacts__list">
                                <li class="contacts__list-item">
                                    <a class="contacts__list-link" href="#">
                                        <div class="sr-only">адрес компании</div>
                                        ул. Т.Г.Шевченко, 1
                                    </a>
                                </li>
                                <li class="contacts__list-item">
                                    <a class="contacts__list-link" href="tel:380501112233">
                                        <div class="sr-only">телефон для связи</div>
                                        380501112233
                                    </a>
                                </li>
                                <li class="contacts__list-item">
                                    <a class="contacts__list-link" href="mailto:support@sfood.com">
                                        <div class="sr-only">электронная почта сайта</div>
                                        support@sfood.com
                                    </a>
                                </li>
                            </ul>
                            <ul class="contacts__social-list">
                                <li class="contacts__social-item">
                                    <a class="contacts__social-link contacts__social-link--facebook" href="#"
                                        target="_blank">
                                        <div class="sr-only">фейсбук компании</div>
                                        <svg class="contacts__social-icon">
                                            <use xlink:href="images/sprite.svg#ic-facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="contacts__social-item">
                                    <a class="contacts__social-link contacts__social-link--twitter" href="#"
                                        target="_blank">
                                        <div class="sr-only">твиттер компании</div>
                                        <svg class="contacts__social-icon">
                                            <use xlink:href="images/sprite.svg#ic-twitter"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="contacts__social-item">
                                    <a class="contacts__social-link contacts__social-link--insta" href="#"
                                        target="_blank">
                                        <div class="sr-only">инстаграм компании</div>
                                        <svg class="contacts__social-icon">
                                            <use xlink:href="images/sprite.svg#ic-instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="user-nav">
                        <a class="user-nav__link serch" href="#"></a>
                        <a class="user-nav__link curt" href="#">
                            <div class="user-nav__num">
                                <div class="sr-only">колличество товаров в корзине</div>
                                4
                            </div>
                        </a>
                    </div>
                    <button class="burger" type="button">
                        <span class="burger__line"></span>
                        <span class="sr-only">Открыть меню</span>
                    </button>
                </div>
            </div>
        </div>
    </header>