<section class="info position-section">
    <div class="container">
        <div class="info__inner" style="background-image: url('/images/infobg.png');">
            <div class="info__content">
                <h2 class="section-title">Оставайтесь дома,
                    <span class="section-title__line">а мы позаботимся о еде</span>
                </h2>
                <p>У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой
                    прямо сейчас и получите скиидку!</p>
                <ul class="info__list">
                    <li class="info__item" style="background-image: url('/images/sprite.svg#infobg1');">Быстрая
                        доставка за 15 минут
                    </li>
                    <li class="info__item" style="background-image: url('/images/sprite.svg#infobg2');">Вежливые
                        курьеры
                    </li>
                    <li class="info__item" style="background-image: url('/images/sprite.svg#infobg3');">Более
                        500
                        заведений
                    </li>
                </ul>
                <div class="info__more">
                    <a class="section-link info__link" href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>