<section class="order position-section">
    <div class="container">
        <h1 class="sr-only">Simple food - cамый быстрый сервис доставки еды в Вашем городе</h1>
        <div class="order__inner">
            <div class="order__delivery">
                <p class="order__text">Доставка <span class="order__text--red">за 15 минут</span></p>
                <div class="order__content">
                    <p>Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш
                        счёт</p>
                    <div class="order__nav">
                        <a class="order__btn-more section-link" href="#">Заказать</a>
                        <a class="order__link-info" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>