<section class="popular position-section">
    <div class="container">
        <h2 class="section-title popular-title">Популярные категории </h2>
        <div class="pipular-inner">
            <div class="filter-btn">
                <button class="filter-btn__button btn-burgers" type="button"
                    data-filter=".category-burgers">Бургеры
                </button>
                <button class="filter-btn__button btn-pizza" type="button" data-filter=".category-pizza">Пицца
                </button>
                <button class="filter-btn__button btn-sendwiches" type="button"
                    data-filter=".category-sendwich">Сендвичи
                </button>
                <button class="filter-btn__button btn-azian" type="button"
                    data-filter=".category-azian">Азиатская кухня
                </button>
                <button class="filter-btn__button btn-sets" type="button" data-filter=".category-sets">Cеты
                </button>
            </div>
        </div>
        <div class="popular__goods">
            <div class="goods mix category-burgers" data-order="1">
                <article class="good">
                    <a class="good__link" href="good.html">
                        <img src="/images/popular/chiz1.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Чизбургер с листьями салата</h3>
                    <div class="good__price">
                        <span>160</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
            <div class="goods mix category-burgers category-pizza" data-order="2">
                <article class="good">
                    <a class="good__link" href="good.html">
                        <img src="/images/popular/chiz2.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Бифбургер</h3>
                    <div class="good__price">
                        <span>190</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
            <div class="goods mix category-burgers" data-order="1">
                <article class="good">
                    <a class="good__link" href="#">
                        <img src="/images/popular/chiz3.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Королевский чизбургер</h3>
                    <div class="good__price">
                        <span>260</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
            <div class="goods mix category-burgers category-sendwich" data-order="3">
                <article class="good">
                    <a class="good__link" href="#">
                        <img src="/images/popular/chiz4.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Черный гамбургер</h3>
                    <div class="good__price">
                        <span>199</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
            <div class="goods mix category-burgers" data-order="3">
                <article class="good">
                    <a class="good__link" href="#">
                        <img src="/images/popular/chiz5.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Чикен бургер</h3>
                    <div class="good__price">
                        <span>180</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
            <div class="goods mix category-burgers" data-order="1">
                <article class="good">
                    <a class="good__link" href="#">
                        <img src="/images/popular/chiz1.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Чизбургер с листьями салата</h3>
                    <div class="good__price">
                        <span>160</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
            <div class="goods mix category-burgers" data-order="2">
                <article class="good">
                    <a class="good__link" href="#">
                        <img src="/images/popular/chiz2.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Бифбургер</h3>
                    <div class="good__price">
                        <span>190</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
            <div class="goods mix category-burgers" data-order="1">
                <article class="good">
                    <a class="good__link" href="#">
                        <img src="/images/popular/chiz3.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Королевский чизбургер</h3>
                    <div class="good__price">
                        <span>260</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
            <div class="goods mix category-burgers category-azian" data-order="3">
                <article class="good">
                    <a class="good__link" href="#">
                        <img src="/images/popular/chiz4.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Черный гамбургер</h3>
                    <div class="good__price">
                        <span>199</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
            <div class="goods mix category-burgers category-sets" data-order="3">
                <article class="good">
                    <a class="good__link" href="#">
                        <img src="/images/popular/chiz5.jpg" width="140" height="140" alt="фото товара"
                            class="good__img">
                    </a>
                    <h3>Чикен бургер</h3>
                    <div class="good__price">
                        <span>180</span> <span>грн.</span>
                    </div>
                    <button class="good__button-curt">В корзину</button>
                </article>
            </div>
        </div>
        <button class="popular__btn-more" type="button">
            Показать еще
        </button>
    </div>
</section>